/* .portrait{
    width: 50vh;
    height: 30vw;
    display: flex;
    align-items: center;
} */
#accountHeader{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1vw; 
    margin: 0px;
}
body{
    background-color: rgb(120,66,131);
    /* background-color: #510056; */
}

.portraitContainer {
    position: relative;
    top: 0;
    left: 0;
}

.portrait {
    width: 50vh;
    height: 30vw;
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
}

.frame {
    width: 80vh;
    height: 40vw;
    position: absolute;
    top: 80px;
    left: 60px;
    border: 1px green solid;
}

p{
    font-size: 2vh; 
}

.overallInfo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.CustomerInfo{
    padding: 30px;
    align-items: center;
    /* justify-content: center; */
    border: 2px solid rgb(218, 194, 204);
    border-radius: 30px;
    /* background-color: rgb(232, 208, 217); */
    color: rgb(255, 255, 255);
    margin: 20px;
}

.VisitContainer{
    border: 2px solid rgb(221, 193, 204);
    border-radius: 30px;
    background-color: rgb(231, 173, 187);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.VisitInfo{
    font-size: 25px;
    padding: 50px; 
}

#visitTitle{
    font-size: 5vh; 
    margin: 0px;
    color: rgb(182, 145, 158);
    /* padding-top: 10vh; */
}




