#accountHeader{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1vw; 
    margin: 0px;
}

body{
    background-color: #75638b;
}

p{
    font-size: 2vh; 
}

.overallInfo{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.CustomerInfo{
    padding: 30px;
    align-items: center;
    border: 2px solid rgb(218, 194, 204);
    border-radius: 30px;
    /* background-color: rgb(232, 208, 217); */
    color: rgb(255, 255, 255);
    margin: 20px;
}

.VisitContainer{
    border: 2px solid rgb(221, 193, 204);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.VisitInfo{
    font-size: 25px;
    padding: 50px; 
}

#visitTitle{
    font-size: 5vh; 
    margin: 0px;
    color: white;
}

#accountButton{
    background-color: white;
    border-radius: 20px;
}

.updateBookingButton{
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}




