#bookingContainer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

    background-color: #baabcc;
    padding: 70px; 
    margin: 50px;
    border: 1px solid white;
}

#bookingButton{
    padding: 5px;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #507592;
}

#lineBreak{
    width: 70%;
}

.inputs{
    margin: 20px;
    width: 50%;
    display: flex;
    font-family:'Libre Baskerville', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    padding: 8px;
    border-radius: 10px;
}