h1{
    color: white; 
    font-size: 15vh;
    padding-left: 30px;
    margin: 2%;
}

#rightContainer img{
    width: 100%; 
    height: 100%; 
}

.entireItemContainer {
    /* border: 1px solid black; */
    background-color: rgb(235, 174, 188);
    height: 50vw;
}

#leftContainer{
    float: left;
    width: 50%;
    height: 100%;
    /* border: 1px solid red;   */

    display: flex;
    flex-direction: column;
}  

#rightContainer{
    float: right;
    width: 49%;
    height: 100%;
    /* border: 1px solid green; */
}