.roomCard {
    display: flex;
    background-color: rgb(235, 174, 188);
    padding-bottom: 10%;
    /* flex-direction: row; */
    justify-content: right;
}

.roomCard img{
    display: flex;
    float: right;
    width: 40%;
    height: 40%;
    padding-left: 10%;
}

.roomCard p{
    float: left;
    font-size: 1.5vw;
}

.roomCard h2{
    font-size: 5vw;
    display: flex;
    color: white;
    text-align: center;
    padding-bottom: 0%;
}

.roomCard a{
    color:white;
    font-size: 2vw;
    background-color: purple;
}

.cardSubtext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}